<!DOCTYPE html>
<html lang="en" id="foodApp" ng-app="myApp" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Food Temperatures</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="stylesheet" href="assets/css/styles.css">
	<!-- Fav Icon -->
	<link rel="apple-touch-icon" type="image/png" href="assets/img/logo.png" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="assets/img/logo.png" />
	<link rel="icon" type="image/png" href="assets/img/logo.png" />
	<!--[if IE]>
		<script src="assets/js/lib/respond.js"></script>
		<script src="assets/js/lib/html5.js"></script>
		<script src="assets/js/lib/rem.min.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/iestyles.css" />
	<![endif]-->
</head>
<body ng-controller="pageToggleCtrl" ng-class="{ 'page-open' : showPage, 'page-closed' : !showPage }">
	<main>
		<nav>
			<ul>
				<li>
					<a ui-sref="beef" ng-click="showPageToggle()">
						<span class="food-icon"><i class="fi fi-cow"></i></span>
						<span class="food-label">Beef</span>
					</a>
				</li>
				<li>
					<a ui-sref="pork" ng-click="showPageToggle()">
						<span class="food-icon"><i class="fi fi-pig"></i></span>
						<span class="food-label">Pork</span>
					</a>
				</li>
				<li>
					<a ui-sref="chicken" ng-click="showPageToggle()">
						<span class="food-icon"><i class="fi fi-chicken"></i></span>
						<span class="food-label">Chicken</span>
					</a>
				</li>
				<li>
					<a ui-sref="turkey" ng-click="showPageToggle()">
						<span class="food-icon"><i class="fi fi-turkey"></i></span>
						<span class="food-label">Turkey</span>
					</a>
				</li>
				<li>
					<a ui-sref="lamb" ng-click="showPageToggle()">
						<span class="food-icon"><i class="fi fi-lamb"></i></span>
						<span class="food-label">Lamb</span>
					</a>
				</li>
				<li>
					<a ui-sref="fish" ng-click="showPageToggle()">
						<span class="food-icon"><i class="fi fi-fish"></i></span>
						<span class="food-label">Fish</span>
					</a>
				</li>
			</ul>
			<footer class="footer-heading">
				<h3>What Are You Cooking?</h3>
			</footer>
		</nav>
		<div  class="page-content">
			<div ui-view></div>
		</div>
	</main>


	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
	<!-- <script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script> -->

	<script src="app.js"></script>
	<script src="states.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<script>

		if (window.navigator.standalone == true) {
 			document.getElementById("foodApp").className = "ios-web-app";
		}


	</script>
</body>
</html>
