@mixin heading-font-light {
	font-family: $heading-font, $heading-fallback;
	font-style: normal;
	font-weight: 300;
}

@mixin heading-font-regular-italic {
	font-family: $heading-font, $heading-fallback;
	font-style: italic;
	font-weight: 300;
}

@mixin heading-font-regular {
	font-family: $heading-font, $heading-fallback;
	font-style: normal;
	font-weight: 400;
}

@mixin heading-font-regular-italic {
	font-family: $heading-font, $heading-fallback;
	font-style: italic;
	font-weight: 400;
}

@mixin heading-font-bold {
	font-family: $heading-font, $heading-fallback;
	font-style: normal;
	font-weight: 700;
}

@mixin heading-font-bold-italic {
	font-family: $heading-font, $heading-fallback;
	font-style: italic;
	font-weight: 700;
}

@mixin body-font-regular{
	font-family: $body-fallback;
	font-style: normal;
	font-weight: 400;
}

@mixin body-font-italic {
	font-family: $body-fallback;
	font-style: italic;
	font-weight: 400;
}

@mixin body-font-bold {
	font-family: $body-fallback;
	font-style: normal;
	font-weight: 700;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin flexbox() {
	display: flex;
}

@mixin flex($values) {
	flex:  $values;
}

@mixin flex-wrap($values) {
	flex-wrap: $values;
}

@mixin order($val) {
	order: $val;
}

@mixin flex-flow($flowvalue) {
	flex-flow: $flowvalue;
}

@mixin justify($justifyval) {
	justify-content: $justifyval;
}
@mixin align-self($alignself) {
	align-self: $alignself;
}

@mixin flex-direction($value) {
	flex-direction: $value;
}

@mixin align-item($align) {
	align-items: $align;
}

@mixin justify-content($justify) {
	justify-content: $justify;
}

@mixin linear-gradient($fromColor, $toColor) {
	background-image: linear-gradient(to left, $fromColor, $toColor);
}

@mixin radial-gradient($fromColor, $toColor) {
	background-image: radial-gradient(ellipse at center, $fromColor, $toColor);
}

@mixin transform($transform) {
	transform: $transform;
}

@mixin single-transition($property:all, $speed:.125s, $ease:linear) {
	transition: $property $speed $ease;
}

@mixin double-transition($property:background,$property2:color, $speed:.125s, $ease:linear) {
	transition: $property, $property2, $speed $ease;
}