<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Food Temperatures</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/styles.css">
	<!--[if IE]>
		<script src="assets/js/lib/respond.js"></script>
		<script src="assets/js/lib/html5.js"></script>
		<script src="assets/js/lib/rem.min.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/iestyles.css" />
	<![endif]-->
</head>
<body>
	<main ng-controller="pageToggleCtrl">
		<nav>
			<ul>
				<li>
					<a ui-sref="beef" ng-click="showPageToggle()">
						<span class="food-icon">[ICON HERE]</span>
						<span class="food-label">Beef</span>
					</a>
				</li>
				<li>
					<a ui-sref="pork" ng-click="showPageToggle()">
						<span class="food-icon">[ICON HERE]</span>
						<span class="food-label">Pork</span>
					</a>
				</li>
				<li>
					<a ui-sref="chicken" ng-click="showPageToggle()">
						<span class="food-icon">[ICON HERE]</span>
						<span class="food-label">Chicken</span>
					</a>
				</li>
				<li>
					<a ui-sref="turkey" ng-click="showPageToggle()">
						<span class="food-icon">[ICON HERE]</span>
						<span class="food-label">Turkey</span>
					</a>
				</li>
				<li>
					<a ui-sref="lamb" ng-click="showPageToggle()">
						<span class="food-icon">[ICON HERE]</span>
						<span class="food-label">Lamb</span>
					</a>
				</li>
				<li>
					<a ui-sref="fish" ng-click="showPageToggle()">
						<span class="food-icon">[ICON HERE]</span>
						<span class="food-label">Fish</span>
					</a>
				</li>
			</ul>
		</nav>
		<footer class="footer-heading">
			<h3>What Are You Cooking?</h3>
		</footer>
		<div ng-class="{ 'page-open' : showPage, 'page-closed' : !showPage }" class="page-content">
			<div ui-view></div>
		</div>
	</main>

	<!-- In production use: <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="app.js"></script>
	<script src="states.js"></script>
</body>
</html>