.page-content {
	background: $white;
	margin: 0 auto;
	max-width: 500px;
	height: 100%;
	position: absolute;
	right: -100%;
	top: 0;
	width: 100%;
	
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(wrap);
	@include flex(1 1 100%);
	@include single-transition;

	&.page-open {
		right: 0;
	}

	&.page-closed {
		right: -100%;	
	}

	> div {
		min-height: 100%;

		@include flexbox;
		@include flex-direction(column);
		@include flex-wrap(wrap);
		@include single-transition;
	}
}


main {
	background: $white;
	margin: 0 auto;
	max-width: 500px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	width: 100%;
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(wrap);

	nav {
		
		@include flexbox;
		@include flex(1 0 100%);


		ul {
			@include flexbox;
			@include flex-direction(row);
			@include flex-wrap(wrap);
		}


		li {
			@include flex(1 0 50%);
			@include flexbox;
			

		}

	}
	
	a {
		@include flexbox;
		@include flex-direction(column);
		@include flex-wrap(wrap);
		@include flex(1 0 100%);
		
		.food-icon {
			@include flexbox;
			@include align-item(center);
			@include justify(center);
			@include flex(1 0 auto);
		}

		.food-label {
			@include flex(0 1 auto);
		}

	}
}

.footer-heading {
	background: #262626;
	border: 2px solid $off-black;
	border-bottom: none;
	border-top: none;
	color: #fff;
	@include flex(0 1 auto);

	h3 {
		font-size: 1rem;
		margin: 0;
		padding: .5rem;
		text-align: center;
		width: 100%;
	}

}

body {
	background: $gray-color;
	margin: 0;
	padding: 0;
	position: relative;
}

html, body {
    height: 100%;
}


.food-header {
	background: #262626;
	color: #fff;
	padding: .5rem;
	text-align: center;
	@include flex(0 1 auto);

	h3 {
		font-size: 1rem;
		margin: 0;
		
		text-align: center;
	}
}

.food-content {
	@include flex(1 0 100%);
}

.food-footer {
	background: #262626;
	color: #fff;
	font-size: 1rem;
	margin: 0;
	padding: .5rem;
	position: relative;
	text-align: center;
	width: 100%;

	@include flex(0 1 auto);

	.back-button {
		color: #fff;
		cursor: pointer;
		float: left;
		left: .5rem;
		position: absolute;
		top: .75rem;
	}
	
	.switch {
		position: absolute;
		right: .5rem;
		top: .75rem;
	}


	h3 {
		font-size: 1rem;
		margin: 0;
		text-align: center;
	}

	i {
		font-size: 1.125rem;
		line-height: 1rem;
	}
}