	/*
	Flaticon icon font: Flaticon
	Creation date: 03/06/2016 10:31
	*/

	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/animals/Flaticon.eot");
		src: url("../fonts/animals/Flaticon.eot?#iefix") format("embedded-opentype"),
		url("../fonts/animals/Flaticon.woff") format("woff"),
		url("../fonts/animals/Flaticon.ttf") format("truetype"),
		url("../fonts/animals/Flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: "Flaticon";
			src: url("./Flaticon.svg#Flaticon") format("svg");
		}
	}

	.fi:before{
		display: inline-block;
		font-family: "Flaticon";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		line-height: 1;
		text-decoration: inherit;
		text-rendering: optimizeLegibility;
		text-transform: none;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
	}

	.fi-chicken {
		&:before { 
			content: "\f100";
		}

		&.colorful {
			color: $food-chicken;

			&.food-label {
				color: #fff;
				border-color: $food-chicken;
				box-shadow: 0 0 10px $food-chicken;

				&:before {
					display: none;
				}
			}
		}
	}
	.fi-cow {
		&:before { 
			content: "\f101";
		}

		&.colorful {
			color: $food-cow;

			&.food-label {
				color: #fff;
				border-color: $food-cow;
				box-shadow: 0 0 10px $food-cow;

				&:before {
					display: none;
				}
			}
		}
	}
	.fi-fish {
		&:before { 
			content: "\f102";
		}

		&.colorful {
			color: $food-fish;

			&.food-label {
				color: #fff;
				border-color: $food-fish;
				box-shadow: 0 0 10px $food-fish;

				&:before {
					display: none;
				}
			}
		}
	}
	.fi-pig {
		&:before { 
			content: "\f103";
		}

		&.colorful {
			color: $food-pig;

			&.food-label {
				color: #fff;
				border-color: $food-pig;
				box-shadow: 0 0 10px $food-pig;

				&:before {
					display: none;
				}
			}
		}
	}
	.fi-lamb {
		&:before { 
			content: "\f104";
		}

		&.colorful {
			color: $food-lamb;

			&.food-label {
				color: #fff;
				border-color: $food-lamb;
				box-shadow: 0 0 10px $food-lamb;

				&:before {
					display: none;
				}
			}
		}
	}
	.fi-turkey {
		&:before { 
			content: "\f106";
		}

		&.colorful {
			color: $food-turkey;

			&.food-label {
				color: #fff;
				border-color: $food-turkey;
				box-shadow: 0 0 10px $food-turkey;

				&:before {
					display: none;
				}
			}
		}
	}
	.fi-thermometer {
		&:before { 
			content: "\f105";
		}
	}