nav {
	margin: 0;

	ul {
		margin: 0;
		padding: 0.25rem;
		width: 100%;

		
	}

	li {
		display: block;
		float: left;
		padding: .25rem;
		width: 50%;

		
	}

	a {
		@extend %box-tile;
		text-align: center;
		text-decoration: none;

		&:focus {
			outline: none;
		}
	}

	.food-label {
		color: $black;
		font-weight: bold;
		margin-bottom: 1rem;

		@include heading-font-bold();
	}

	.food-icon {
		color: $black;
		font-size: 3.5rem;
	}

}