nav {
	margin: 0;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
		width: 100%;

		
	}

	li {
		display: block;
		float: left;
		width: 50%;

		
	}

	a {
		border: 1px solid $off-black;
		text-align: center;
		text-decoration: none;
	}

	.food-label {

	}

	.food-icon {

	}

}