body {
	@include body-font-regular();
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 { 
	color: $secondary-color;
	margin: 0.25em 0 .5em;
}

h1 {
	
	font-size: 2.25em;	
	line-height: 1.25em;
	margin: 0em 0 .5em;
	
	@include heading-font-bold();

	@include breakpoint(medium) {
		font-size: 2.5em;	
		line-height: 1.25em;
	}
}

h2 {
	font-size: 1.85em;
	line-height: 1.15em;
	
	@include heading-font-regular();

	@include breakpoint(medium) {
		font-size: 2.25em;
		line-height: 1.25em;
	}
}

h3 {
	font-size: 1.625em;	
	line-height: 1.13em;
	
	@include heading-font-bold();

	@include breakpoint(medium) {
		font-size: 2em;	
		line-height: 1.25em;
	}
}

h4 {
	font-size: 1.4em;	
	line-height: 1.11em;
	
	@include heading-font-regular();

	@include breakpoint(medium) {
		font-size: 1.75em;	
		line-height: 1.25em;
	}
}

h5 {
	font-size: 1.3em;	
	line-height: 1em;
	
	@include heading-font-regular();

	@include breakpoint(medium) {
		font-size: 1.5em;	
		line-height: 1.25em;
	}
}

h6 {
	font-size: 1.25em;	
	line-height: 1em;
	
	@include heading-font-bold();

	@include breakpoint(medium) {
		font-size: 1.45em;	
		line-height: 1.25em;
	}
}

p {
	@include body-font-regular();
	font-size: 1em;
	line-height: 1.375em;
	color: #262626;
	margin: 0 0 1em;

	@include breakpoint(medium) {
		//line-height: 1.25em;
	}
}

blockquote {
	@include heading-font-bold();
	font-size: 1.25em;
	line-height: 1.25em;

	@include breakpoint(medium) {
		font-size: 1.5em;
		line-height: 1.5em;
	}
}

ul,ol {
	li {
		@include body-font-regular();
		font-size: 1em;
		line-height: 1.375em;
		color: #262626;
		ol,ul {
			margin: .25em 0;
		}

		li {
			font-size: 1em;
		}

		@include breakpoint(medium) {
			line-height: 1.25em;
		}
	}
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: decimal;
}

a {
	//color: $tertiary-color;
	//text-decoration: none;

	&:hover,&:active,&:focus {
		//color: $tertiary-color-shade;
		//border-bottom: 2px solid $tertiary-color-shade;
	}
}

strong {
	@include body-font-bold();
}

em {
	@include body-font-italic();
}