<header class="food-header">
	<h3>{{ food.label }}</h3>	
</header>

<div class="food-content">
	<span class="food-icon"><i class="{{ food.icon }}"></i></span>
	<div class="food-states">
		<div class="food-state" ng-repeat="state in food.states">
			<div class="food-state-label">
				{{ state.label }}
			</div>
			<div class="food-state-temperatures" ng-repeat="temperature in state.temperatures">
				<div ng-class="{ 'hide' : temperatureType, 'show' : !temperatureType}">
					{{ temperature.fahrenheit }}
				</div>
				<div ng-class="{ 'show' : temperatureType, 'hide' : !temperatureType}">
					{{ temperature.celsius }}
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="food-footer">
	<a class="back-button" ng-click="showPageToggle()">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</a>
	<h3 class="text-center">Temperature</h3>
	<div class="switch">
		<input ng-if="!temperatureType" checked id="namehere" type="checkbox" name="namehere" />
		<input ng-if="temperatureType" id="namehere" type="checkbox" name="namehere" />
		<span class="right">&#176;F</span><label ng-click="temperatureTypeToggle()" for="namehere"></label><span class="left">&#176;C</span>
	</div>
</footer>